footer,.footer-box,.footer-bot{
  width: 100%;

}
footer{
  height: 392px;
}
.footer-box{
  height: 327px;
  background-color:#3d3d3d  ;
}

.footer-bot{
  height: 65px;
  line-height: 65px;
  text-align: center;
  background-color:#333333 ;
  color:#66656a;
  font-size: 12px;
}
.footer-box-con{
  width: 1200px;
  margin: 0 auto;
  color: #96959e;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;


padding-top: 66px;
}

.footer-con-logo{
  width: 230px;
}
.footer-con-logo img{
  width: 100%;
}
.footer-con-ico{
  margin-top: 73px;
}
.footer-con-ico a{
margin-right: 20px;
}
/* .footer-con-ico span{
  display: inline-block;

  margin-right: 20px;
  width: 23px;
  height: 23px;

} */
.footer-con-ico .footer-con-ico0{
/* width: 60px; */
/* background-position: -37px 0px ; */
}
.footer-con-ico .footer-con-ico1{

  /* background-position: -114px 0px ; */
  }
  .footer-con-ico .footer-con-ico2{
    /* background-position: -154px 0px ; */
    }
.fonter-con-ico-box{
  margin-right:90px;
}
.footer-list{
  flex: 1;
  display: flex;
 flex-direction: column;
}
.footer-list-box-title{
  display: flex;
  /* justify-content: space-between; */
  border-bottom: 1px solid #4f4f4f;
  margin-bottom: 23px;
  font-weight:400;
}
.footer-list-box-title li{
  /* display: flex; */
/* flex: 1; */

}
.footer-list-box-title li a{
  display: inline-block;
  color: rgb(241, 241, 241);
  font-size: 20px;
  margin-bottom: 30px;
  padding:0 38px 0;
  border-right: 1px solid rgb(95, 95, 95);
  /* width: 100%; */
  text-align: center;
}
.footer-list-box-title .fo-list-one a{
  /* padding-left: 0px; */
  /* padding-right: 40px; */
  padding-left: 0px;
  text-align: start;
}
.footer-list-box-title .fo-list-end a{
  padding-right: 0px;
  border-right: none;
  text-align: end;
}
.footer-list-box-bottom{
  display: flex;
  justify-content: space-between;
}

.contact-box{
  font-size: 16px;
  padding-right: 91px;
  border-right: 2px dashed #4f4f4f;

}
/* .contact-box */
.contact-span{
  display: inline-block;
  font-size: 16px;
  color: rgb(241, 241, 241);
  margin-bottom: 23px;
  font-weight: 500;
}

/* 底部图标 */
.footer-ico-bot{
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url('../../img/icon.png') no-repeat;
  /* padding-top: 5px; */

}
.footer-list-box-bottom .footer-ico-bot0{
  background-position: -193px 2px;
}
.footer-list-box-bottom .footer-ico-bot1{
  background-position: -261px 2px;
}
.footer-list-box-bottom .footer-ico-bot2{
  background-position:-227px 2px;
}
.contact-box-ico{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}
.contact-box p:nth-child(3){
  margin-bottom: 0px;
}

.contact-box-ico>span{
line-height: 25px;
vertical-align: middle;
}
.contact-box-ico>span>span{
  /*  */
  vertical-align: middle;
}
.link-to-box>span{
  padding-left: 50px;
}
.link-to-box-big{
  /* display: flex; */
  /* justify-content: space-between; */
}
.link-to-box-big a{
  width: 85px;
  height: 32px;
  line-height: 32px;
  display: inline-block;
  border-radius: 3px;
  background-color: #ffffff;
  color: #333333;
  text-align: center;
  font-size: 16px;
  margin:27px 0px 0px 50px;


}
 










@media screen and (max-width: 1200px){

  .footer-box-con{
   width: 100%;
  }
  .footer-list-box-title li a {
  
    font-size: 12px;
  
  }
  .footer-list-box-title li a{

    padding:0 5px 0;
  }
  .link-to-box>span{
    padding-left: 0px;
  }

  .link-to-box-big a{

    margin:12px 0px 0px 10px;
  
  
  }
}
@media screen and (max-width: 768px){

}
@media screen and (max-width: 700px){
  .footer-box-con{
    flex-direction: column;
  }
    .footer-box-con{
      padding-top: 5px;
    }
    .footer-con-ico {
      margin-top: 10px;
      margin-bottom: 10px;
  }
  .footer-list-box-title li a{
    margin-bottom: 10px;
  }
  .contact-box,.link-to-box {
    padding-left: 5px;
  }
  .fonter-con-ico-box{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
  }
  .contact-box-ico {
    display: flex;
    /* flex-direction: column; */
    margin-top: 10px;
    padding-right: 10px;
  }
 .link-to-box-big a{
    /* margin-top: 10px; */
  }
  .footer-con-logo {
    padding-top: 20px;
    padding-bottom: 10px;
    width: 170px;
}


}
@media screen and (max-width: 540px){
  .footer-list-box div span{
    font-size: 14px;
  }

 

}
@media screen and (max-width:500px) {

 .footer-list .footer-list-box-title li a{
    padding: 0px 0px 0;
    text-align: center;
  }

}

@media screen and (max-width: 340px){
.contact-span {
  font-size: 14px;
}
.footer-list-box-title{
  margin-bottom: 15px;
}
}
